.current-goal {
    width: 40vw;
    border: 3px solid #8bd3dd;
    border-radius: 7px;
}
.current-goal {
    border: none;
}
.smart-goal-title {
    text-align: center;
    margin-top: 2vh;
}
.smart-goal-text {
    font-size: 1.3vw;
    margin-top: 2vh;
    width: 30vw;
    margin: 0 auto;
}