@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Slab&display=swap');


.dashboard-nav {
    background-color: #f3d2c1;
    padding: 10px;
    height: 100vh;
}

.dashboard-dropdown-class {
    margin: 7vh auto;
}
.dashboard-dropdown-class .pillar-dropdown {
    margin: 0 2vw;
}

.dashboard-nav h6 a {
    color: #001858;
}
.dashboard-nav h6 {
    margin-top: 8vh;
    text-align: center;
}

.dashboard-links {
    margin-top: -17vh;
}


.dashboard-button {
    background-color: #f3d2c1;
    border-color: rgb(0,24,88, 0.5);
    border-width: 1.5px;
    padding: 1.5px 5px;
    margin: 1.5vh 1.5vw;
}

    .dashboard-button:first-child {
        margin-top: 20vh;
    }

    .dashboard-button:hover {
        background-color: #fef6e4;
    }


.link {
    color: #001858;
    font-family: 'Poppins', sans-serif;
}

    .link:hover {
        color: #001858;
    }