.pillars-container {
    background: #fffffe;
    padding: 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pillars-container .heading {
    margin-bottom: 3rem;
}

.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pillars-container h4 {
    color: #172c66;
}

.pillars-svg {
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.pillars-svg img{
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
}