.pillars-container {
    background: #fffffe;
    padding: 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pillars-container .heading {
    margin-bottom: 3rem;
}

.about-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 2fr));
    grid-gap: 1rem;
}

.about-col {
    padding: 1rem;  
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    height: 125px;
}

.about-text h4 {
    text-align: center;
}

.pillars-container h4 {
    color: #172c66;
}