.testimonials-container {
    background-color: #f3d2c1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials-container .heading {
    margin-bottom: 3rem;
}

.testimonials {
    margin-top: 5rem;
}

.testimonials-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-gap: 2rem;
}

.testimonials-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 410px;
    padding: 1rem;
}

.bottom-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    padding: 2rem;
}

.bottom-container p {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .bottom-container {
        width: 100%;
    }
}

.testimonials-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 48%;
    text-align: center;
    margin-bottom: 2rem;
}

.testimonial-quote {
    flex-basis: 48%;
}

.testimonials-name {
    font-size: 1.5rem;
}

.testimonials-img {
    border-radius: 50%;
}

.join-btn {
    width: 100%;
    margin-top: 4rem;
}

.bottom-container a {
    width: 100%;
}