@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Slab&display=swap');

.dashboard-nav {
    font-family: 'Poppins', sans-serif;
    color: #001858;
}

/* .dashboard-nav h3 {
    padding: 15px;
    font-size: 35px;
}
.dashboard-nav h6 a {
    color: #001858;
}
.dashboard-nav h6 {
    margin-bottom: -10vh;
} */

.fitness-dashboard-content-progress {
    /* background-color: #8bd3dd; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fitness-dashboard-content-progress {
    text-align: center;
    margin: 5vh auto;
}
.fitness-dashboard-content-progress h2 {
    font-size: 25px;
    font-style: italic;
}


/* Overriding React-Calendar styling */

    .react-calendar {
        border-radius: 10px;
        border: 3px solid #f3d2c1;
        padding: 20px 10px;
        font-family: 'Poppins', sans-serif;
        color: #001858;
        font-weight: bold;
    }


    .react-calendar__month-view__days__day--weekend {
        color: #f582ae;
        font-weight: bolder;
    }

    .react-calendar button {
        border-radius: 20px;
    }
    .react-calendar__tile--active {
        background-color: #8bd3dd;
    }

.fitness-progress-calendar {
    margin-right: 3vw;
}

.fitness-progress-main {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.current-goal {
    width: 40vw;
    border: 3px solid #8bd3dd;
    border-radius: 7px;
}
.current-goal .card {
    border: none;
}

/* DO NOT REMOVE */
.flower-graphics {
    width: 250px;
    height: 200px;
    border: 2px solid #8bd3dd;
    border-radius: 5px;
    padding: 20px;
}
