.login-form-class {
    width: 30vw;
    /* margin: 10vw auto; */
}

.form-label {
    margin-bottom: 3px;
}

.forgot-password-link {
    text-align: right;
}

.login-button {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .login-button Button {
        background-color: transparent;
        border: 2px solid #f582ae;
        color: #001858;
        padding: 1vh 5vw;
    }
    .login-button Button:hover {
        background-color: #f582ae;
        border: 2px solid #f582ae;
    }

.checkbox-label {
    font-size: 13px;
}