@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Slab&display=swap');

.dashboard-class {
    font-family: 'Poppins', sans-serif;
}

.dashboard-main {
    display: flex;
}

.dashboard-content {
    margin-left: 5vw;
}

.dashboard-row:first-child {
    margin-top: 30px;
}
