.hero {
  font-family: "Poppins", sans-serif;
  background: url("../components/images/hero.jpg") no-repeat center/cover;
  height: 100%;
}

.hero .hero-overlay {
  background-color: rgba(171, 132, 132, 0.4);
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-title {
  font-size: 5em;
}

.hero-subtext {
  width: 40%;
}

* {
  box-sizing: border-box;
}

.bloom {
  height: 100%;
  letter-spacing: 5px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  vertical-align: middle;
}
.product-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  text-align: center;
  min-height: 650px;
  background-color: #f3d2c1;
  align-items: center;
  flex: 50%;
  vertical-align: middle;
  font-size: 0.7em;
}

.product-head {
  font-family: "Poppins", sans-serif;
  width: 60%;
  font-size: 2rem;
}
.product-img {
  background-color: #f3d2c1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  flex: 50%;
}
@media (max-width: 800px) {
  .product-text,
  .prodcut-img {
    flex: 100%;
  }
}

.dash-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dash-img {
  background-color: #ffffff;
  text-align: center;

  flex: 50%;
}

.box1 {
  margin: auto;
  border-radius: 5px;
}

.dash-txt {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  flex: 50%;
}

img {
  width: 50%;
  height: 100%;
}

.dash {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
}

/* .categories {
  display: flex;
  align-items: center;
} */

.how-to {
  background-color: #d2e2e0;
  height: 3000px;
  color: white;
}

.how-title {
  padding-top: 100px;
  padding-bottom: 25px;

  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #001858;
  font-weight: 600;
  letter-spacing: 2px;
}

.pillar {
  padding-bottom: 75px;
}
.pillar-img-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.pillar-img {
  flex: 50%;
  background-color: transparent;
  padding-bottom: 30px;
}
