html {
  scroll-behavior: smooth;
}

.hero {
  font-family: "Poppins", sans-serif;
  background: url("../components/images/hero.jpg") no-repeat center/cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.hero .hero-overlay {
  background-color: #00175838;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
.hero-container {
  display: flex;
  flex-direction: row;
}
.hero-left {
  flex: 50%;
}
.hero-right {
  text-align: left;
  flex: 50%;
  padding-right: 3em;
}
.hero-title {
  padding-top: 3em;
  font-size: 4vw;
  line-height: 1.5em;
  /* padding-right: 3em; */
}

.hero-subtext {
  width: 40%;
}

* {
  box-sizing: border-box;
}

.bloom {
  height: 100%;
  letter-spacing: 5px;
  display: flex;
  justify-content: space-evenly;
}
.product {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  vertical-align: middle;
}
.product-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  text-align: center;
  min-height: 650px;
  background-color: #c9c0ac;
  align-items: center;
  flex: 50%;
  vertical-align: middle;
  font-size: 0.7em;
}

.product-head {
  font-family: "Poppins", sans-serif;
  width: 60%;
  font-size: 2rem;
}
.dash-girl {
  background-color: #c9c0ac;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  flex: 50%;
}
.product-img {
  background-color: #c9c0ac;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  flex: 50%;
}
@media (max-width: 800px) {
  .product-text,
  .prodcut-img {
    flex: 100%;
  }
}

.break {
  height: 20px;
  background-color: white;
}

.dash-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dash-img {
  background-color: #ffffff;
  text-align: center;
  flex: 50%;
}

.mobile-img {
  width: 100%;
  height: 100%;
}
.dash-txt {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  flex: 50%;
}

img {
  width: 50%;
  height: 100%;
}

.main {
  font-size: 4em;
}

.dash {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.top-title {
  height: 1em;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
}

/* .categories {
  display: flex;
  align-items: center;
} */

.definition {
  background: url("../components/images/branch.png") no-repeat right;
  height: 40em;
  background-color: #081e599d;
}

.mohala {
  font-size: 20vw;
  text-align: left;
  color: #f79abd;
}

.mohala-sub {
  font-size: 3em;
  padding-left: 4vw;
  font-style: italic;
  text-align: left;
  color: white;
}
.mohala-sub-def {
  font-size: 2em;
  padding-left: 3vw;
  width: 50%;
  text-align: left;
  color: white;
}

.how-to {
  background-color: #fff;
  height: 60em;
  color: white;
}

.product-text p {
  width: 60%;
}

.how-title {
  padding-top: 100px;
  padding-bottom: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  color: #001858;
  font-weight: 600;
  letter-spacing: 2px;
}
.how-subtitle {
  padding-top: 100px;
  padding-bottom: 2em;
  font-family: "Poppins", sans-serif;
  font-size: 3vw;
  text-align: center;
  color: #001858;
  letter-spacing: 2px;
}

.pillar {
  padding-bottom: 75px;
}
.pillar-img-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f79abe8f;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.box1 {
  margin: auto;
  border-radius: 5px;
  flex: 33.33%;
}
.pillar-img {
  height: 20vh;
  width: 20vw;
  background-color: #fff;
  border-radius: 50%;
  padding-bottom: 30px;
}

@media (max-width: 800px) {
  .box1 {
    flex: 100%;
  }
}

hr.solid {
  border-top: 1em dashed #081e59e2;
}
