.hero {
  font-family: "Poppins", sans-serif;
  background: url("../components/images/hero.jpeg") no-repeat center/cover;
  height: 100%;
  padding-top: 3em;
}

.hero .hero-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-title {
  font-size: 5em;
}

.hero-subtext {
  width: 40%;
}

* {
  box-sizing: border-box;
}
.who-we-are {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.who-text {
  background-color: #495371;
  text-align: center;
  height: 650px;
  flex: 50%;
}

.who-img {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  flex: 50%;
}

@media (max-width: 800px) {
  .who-text,
  .who-img {
    flex: 100%;
  }
}

img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.pillars {
  background-color:#fff;
  height: 650px;
}

.pillars .pillars-overlay {
  
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.categories {
  display: flex;
  align-items: center;
}

.habits {
  background-color: #ffffff;
  height: 700px;
}
