@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Slab&display=swap');

.page-not-found {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.page-not-found-img {
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-not-found-link {
    display: flex;
    margin-top: 9vh;
    align-items: center;
}

.page-not-found-link h2:first-child {
    color: #f582ae;
}

.page-not-found-link h2:nth-child(2) {
    margin-left: 25px;
    font-size: 25px;
    color: #001858;
}
