.pillar-container {
  display: flex;
  justify-content: space-evenly;
}

.nutrition-p {
  background-color: dodgerblue;
  padding: 10px;
  flex: 25%;
}
.fitness-p {
  background-color: dodgerblue;
  padding: 10px;
  flex: 25%;
}
.rest-p {
  background-color: dodgerblue;
  padding: 10px;
  flex: 25%;
}
.mind-p {
  background-color: dodgerblue;
  padding: 10px;
  flex: 25%;
}

@media (max-width: 800px) {
  .nutrition-p,
  .fitness-p,
  .rest-p,
  .mind-p {
    flex: 100%;
  }
}
