@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Slab&display=swap');


.nav-bar {
    padding: 1vh 2vw;
    background-color: #fef6e4;
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: #001858;
    /* color: #8bd3dd; */
    vertical-align: middle;
    padding-top: 1vh;
}

.button-class {
    background-color: #f582ae;
    border: none;
    color: #fef6e4;
}

.button-class:hover {
    background-color: #8bd3dd;
}