@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Slab&display=swap');

.login-page {
    margin: 5vh auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: 'Poppins', sans-serif;
}

    .login-page-left, .login-page-right  {
        width: 45vw;
    }

    .login-page-left {
        padding: 5vh 10vw;
    }

    .flower-icon {
        font-size: 200px;
        margin: 20vh 15vw;
        color: #f3d2c1;
    }

    /* .divider {
        height: 80vh;
        width: 3px;
        margin: 2vh 3vw;
        background-color: rgba(109, 107, 107, 0.4);
        border-radius: 20px;
    } */


    .login-page-left h2 {
        color: rgb(109, 107, 107);
        margin-bottom: 5vh;
        font-weight: bold;
    }

    .login-page-right img {
        width: 800px;
        height: 450px;
        margin-left: -200px;
    }
