@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Slab&display=swap');

.signup-page {
    height: 95vh;
    margin: 5vh auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    /* overflow-y: scroll; */
}

    .signup-page-left, .signup-page-right  {
        width: 45vw;
    }

    .signup-page-left img {
      width: 35vw;
      /* height: 550px; */
      margin-left: 7vw;
      margin-top: -7vh;
  }


    .flower-icon {
        font-size: 200px;
        margin: 20vh 15vw;
        color: #f3d2c1;
        animation: rotation 15s infinite linear;
    }
    .signup-page-right h2 {
        color: rgb(109, 107, 107);
        margin-bottom: 3vh;
        font-weight: bold;
    }

