@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Slab&display=swap');

/* .mind-progress-class .dashboard-main{
    justify-content: space-between;
} */

.dashboard-nav h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 550;
    margin-left: 2vw;
    margin-top: 4vh;
    margin-bottom: -5vh;
    color: #001858;
}

.dashboard-content-progress {
    font-family: 'Poppins', sans-serif;
}

.dashboard-content-progress .dashboard-nav {
    height: 60vh;
}

.dashboard-content-progress {
    text-align: center;
    margin: 5vh auto;
}
.dashboard-content-progress h2 {
    font-size: 25px;
    font-style: italic;
    margin-top: 5vh;
}

/* Overriding React-Calendar styling */

    .react-calendar {
        border-radius: 10px;
        border: 3px solid #f3d2c1;
        padding: 20px 10px;
        font-family: 'Poppins', sans-serif;
        color: #001858;
        font-weight: bold;
    }


    .react-calendar__month-view__days__day--weekend {
        color: #f582ae;
        font-weight: bolder;
    }

    .react-calendar button {
        border-radius: 20px;
    }
    .react-calendar__tile--active {
        background-color: #8bd3dd;
    }

.progress-calendar {
    margin-right: 3vw;
}

.progress-main {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.progress-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-goal {
    width: 40vw;
    border: 3px solid #8bd3dd;
    border-radius: 7px;
}


.progress-graphs {
    margin-top: 5vh;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.progress-button-class {
    width: 20vw;
    /* height: 200px; */
    /* border: 2px solid #8bd3dd; */
    background-color: rgb(243,210,193, 0.4);
    border-radius: 10px;
    margin-left: -5vw;
    margin-right: 2vw;
    padding: 5vh 2vw;
}
.progress-button-class h5{
    font-size: 1.5vw;
    margin-bottom: 5vh;
}

    /* input:checked + .flower-graphics {
         background: linear-gradient(to bottom,
        red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
        
    } */
    
    .flower-graphics img {
        width: 30vw;
    }
    
.flower-progress-container {
    width: 15vw;
    height: 17vh;
    /* height: 150px; */
    position: relative;
}


.flower-graphics {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    /* background-color: #8bd3dd; */
    /* background: linear-gradient(to bottom,
    white 60%, #8bd3dd 60%); */
    /* background: linear-gradient(to bottom,
    red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%); */
}
.overlay {
    z-index: 0;
    /* background-color: white; */
  }