@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=DM+Mono&family=Josefin+Sans&family=Poppins&family=Red+Hat+Mono&family=Roboto+Slab&display=swap');
.mind-progress-class {
    background-color: #f5f5f5;
    overflow: scroll;
}
/* To fit the side nav bar */
.mind-progress-class .dashboard-main .dashboard-nav {
    height: 100vh;
}

.dashboard-mind-progress {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 2vh auto;
    padding: 25px;
}
.dashboard-mind-progress h2 {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 5vh;
}

.mind-progress-main {
    width: 70vw;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.mind-progress-left {
    display: flex;
    flex-direction: column;
}
.mind-progress-left-top .current-goal {
    width: 50vw;
}

.mind-progress-left-bottom {
    margin-top: 3vh;
    display: flex;
    align-items: flex-start;
    /* align-items: stretch; */
    /* align-items: center; */
    justify-content: space-evenly;
}

.progress-button-class {
    padding: 11vh 2vw;
    border: 3px solid #f3d2c1;
    border-radius: 10px;
    background-color: white;
    font-family: monospace;
    font-weight: bolder;
    
}

.progress-button-class h5 {
    margin-bottom: 5vh;
    color: gray;
    font-weight: bold;
}

.button-completed {
    color: #749999;
    border: 1.5px #078080 solid;
}
.button-completed:hover {
    background-color: #078080;
    color: white;
}

.button-incomplete {
    color: #faae2b;
    border: 1.5px #faae2b solid;
}
.button-incomplete:hover {
    background-color: #faae2b;
    color: white;
}

.flower-growth-box {
    background-color: white;
}

.flower-growth-box img {
    width: 15vw;
    max-height: 100vh;
    border: 3px solid #8bd3dd;
    border-radius: 5px;
    padding: 1.1vw;
}


/* Overriding React-Calendar styling */
.progress-calendar {
    width: 28vw;
    margin-right: 2vw;
}

    .react-calendar {
        border-radius: 10px;
        border: 3px solid #f3d2c1;
        padding: 20px 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2vw;
        color: #001858;
        font-weight: bold;
    }

    .react-calendar__month-view__days__day--weekend {
        color: #f582ae;
        font-weight: bolder;
    }

    .react-calendar button {
        border-radius: 20px;
    }
    .react-calendar__tile--active {
        background-color: #8bd3dd;
    }

/* complete popup modal */
.complete-popup-modal {
    width: 29vw;
    height: 51vh;
    margin: 25vh auto;
    font-family: monospace;
    background-color: #abd1c6;
    color: #001858;
    border: none;
}
.complete-popup-modal h5 {
    font-weight: bold;
}
.complete-popup-modal img {
    width: 25vw;
    height: 30vh;
    padding: 0.5vw;
}
/* .modal-backdrop-class {
    background-color: rgb(255, 255, 255, 0.2);
} */
.complete-popup-modal h6 {
    font-size: 1.05rem;
    text-align: center;
    margin-top: 3vh;
    font-weight: bold;
}

/* incomplete popup modal */
.incomplete-popup-modal {
    width: 34vw;
    height: 51vh;
    margin: 25vh auto;
    font-family: monospace;
    background-color: #b8c1ec;
    color: #232946;
    border: none;
}
.incomplete-popup-modal h5 {
    font-weight: bold;
    font-size: 1.1rem;
}
.incomplete-popup-modal img {
    width: 32vw;
    height: 31vh;
    padding: 0.5vw;
}

.incomplete-popup-modal h6 {
    font-size: 1.05rem;
    text-align: center;
    margin-top: 3vh;
    font-weight: bold;
}
